body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

.dino {
  position: absolute;
  margin-left: 2rem;
  margin-bottom: .5rem;
  bottom: 0;
  background-image: url(/resources/img/dino.png);
  width: 60px;
  height: 60px;
}

.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background-image: url(/resources/img/cactus.png);
}

.game-over {
  text-align: center;
  color: #666;
  margin: 50px 0;
  font-family: arial;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url('/resources/img/background.png');
  background-repeat: repeat-x;
  animation: slideright 1000s infinite linear;
  -webkit-animation: slideright 1000 infinite linear;
  width: 100%;
  height: 200px;
}
